*{
    margin: 0;
    padding:0;
   background-color: #081b31;
   color: white;
   margin-left: 5px;
}

h3{
     text-align: center;
     background-color: #081b31;
     color: white;
     height: 3rem;
     text-align: center;
     margin-bottom: 50px;
     font-size: 60px;
}

h5{
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 30px;
    margin-left: 30px;
    margin-top: 30px;
}
div{
    font-size: 25px;
    margin-top: 15px;
}
input{
    margin-top: 20px;
}
button{
    margin-top: 20px;
    font-size: 25px;
}
select{
    margin-top: 20px;
}
#button{
    display: flex;
    margin-left: 30px;
  margin-right : 30px;
}
#res{
    margin-right: 50px;
}